:root {
  --color1--: #ffffff;
  --color2--: #111827;
  --color3--: #374151;
  --color4--: #2b283a;
}

.dark {
  --color1--: #374151;
  --color2--: #111827;
  --color3--: #ffffff;
  --color4--: #ffffff;
}

* {
  box-sizing: border-box;
  -webkit-user-select: none;
  user-select: none;
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", serif;
}
